:root{
    --azul-medium: #0D5EAF;
    --azul-dark: #0F3679;
    --azul-light: #2E96C9;
    --grey-border: #E5E7EB;
    --orange-button: #FF6600;
    --white: #FEFEFE;
}

.header{
    display: flex;
    border-bottom: 1px solid var(--grey-border);
    justify-content: space-between;
}
.header figure{
    height: 36px;
}
.header .sub-header{
    font-family: Roboto;
    display: flex;
    gap: 1em
}
.header .sub-header button{
    background-color: var(--orange-button);
    border-color: var(--orange-button);
    border-radius: 10px;
    color: var(--white);
    border-style: none;
    padding: 4px 16px;
    justify-content: center;
    font-size: 16px;
}
.header .sub-header button img{
    width: 16px;
}

.header .sub-header .perfil{
    display: flex;
    font-family: Roboto;
    justify-content: space-between;
    gap: 0.5em;
    font-size: 16px;
    font-weight: 700;
}
.header .sub-header .perfil small{
    color: var(--azul-dark);
    text-align: right;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header .sub-header .perfil figure{
    margin: 0px;
    height: 12px;
}

/* --- SECTION LEFT --- */

.section-left{
    font-family: Inter;
    font-size: 16px;
    line-height: 120%;
}