/* SITE SEMADEC - STYLE.CSS */

/* -- VARIÁVEIS -- */

:root{
    --azul-medium: #0D5EAF;
    --azul-dark: #0F3679;
    --azul-light: #2E96C9;
    --grey-border: #E5E7EB;
    --grey-main-up: #797D84;
    --orange-button: #FF6600;
    --orange-hover: #FD8535;
    --black-strong: #1A1C20;
    --white: #FEFEFE;
    --spacing-16: 16px;
}

/* -- HEADER -- */

.header{
    display: flex;
    border-bottom: 1px solid var(--grey-border);
    justify-content: space-between;
    align-items: center;
}
.header figure{
    height: 36px;
}
.header .sub-header{
    font-family: Roboto;
    display: flex;
    gap: 1em
}
.header .sub-header button{
    background-color: var(--orange-button);
    border-color: var(--orange-button);
    border-radius: 10px;
    color: var(--white);
    border-style: none;
    padding: 4px 16px;
    transition: all 0.5s;
    justify-content: center;
    font-size: 16px;
}
.header .sub-header button:hover{
    background-color: var(--orange-hover);
}
.header .sub-header button img{
    width: 16px;
    position: relative;
    top: 2px;
}
.header .sub-header .perfil{
    display: flex;
    font-family: Roboto;
    justify-content: space-between;
    gap: 0.5em;
    font-size: 16px;
    font-weight: 700;
}
.header .sub-header .perfil small{
    color: var(--azul-dark);
    text-align: right;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header .sub-header .perfil figure{
    margin: 0px;
    height: 12px;
}

/* -- CONTAINER-MID -- */
.container-mid{
    display: flex;
}

/* --- SECTION LEFT --- */

.section-left{
    font-family: Inter;
    font-size: 16px;
    display: flex;
    height: 1101px;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--grey-border);
    width: 220px;
}
.section-left .up .setas{
    position: relative;
    top: 8px;
    left: 170px;
}
.section-left .up ul{
    list-style: none;
    color: var(--azul-medium);
    padding: 10px;
    margin: 0px;
}
.section-left .up ul li{
    display: flex;
    align-items: center;
    gap: 8px;
}
.section-left .up ul li img{
    padding: 10px;
}
.section-left .up ul .dashboard{
    display: flex;
    align-items: center;
    gap: 8px;
}
.section-left .up ul .dashboard img{
    background-color: var(--azul-dark);
    stroke: blue;
    padding: 10px;
}
.section-left .up ul .dashboard img:active{
    background-color: var(--azul-medium);
    padding: 10px;
}
.section-left .bottom ul{
    list-style: none;
    color: var(--azul-medium)
}
.section-left .bottom ul li{
    display: flex;
    align-items: center;
    gap: 8px;
}
.section-left .bottom ul li img{
    padding: 10px;
}

/* -- MAIN -- */

.main{
    margin: 1em;
}
.main .up-up{}
.main .up-up .left .left-top{
    display: flex;
    justify-content: space-between;
}
.main .up-up .left .left-bottom{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    color: var(--grey-main-up);
    align-items: center;
    gap: 16px;
    list-style: none;
    padding: 0px;
}
.main .up-up .left .left-bottom .strong{
    color: var(--black-strong);
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}
.main .up-up .left .left-bottom img{
    padding-right: 6px;
    width: 18px;
    height: 18px;
}
.main .up-up .left img{
    width: 22px;
    height: 22px;
}
.main .up-up .archivo{
    font-family: Archivo;
    font-size: 24px;
}