:root{
    --azul-header: #203C86;
    --amarelo: #ffc82c;
    --gradient-footer: linear-gradient(130deg, #0D3F82 23.84%, #001736 73.02%);
    --azul-geral: #2648a1;
    --white: #F9FAFC;
    --soft-white: #EFF2F7;
    --grey: #d3d3d3;
    --azul-texto1: #2648A1;
}
body{
    margin: 0;
}
.header{
    font-family: Montserrat;
    background-color: var(--azul-header);
    display: flex;
    flex-direction: column;
}
.header .top{
    width: 95%;
    align-self: center;
    color: var(--soft-white);
    font-weight: 300;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    padding: 12px 0px; 
    border-bottom: 0.2px solid var(--grey);
}
.header .mid{
    color: var(--soft-white);
    display: flex;
    width: 95%;
    align-self: center;
    padding-top: 1em;
    gap: 1em;
    justify-content: space-between;

}
.header .mid .links{
    display: flex;
    gap: 1em;  
}
.header .mid .links a{
    text-decoration: none;
    color: var(--soft-white);
}
.header .mid img{
    display: flex;
    margin-left: 0;
}
.header .mid strong{
    border-bottom: 1px solid var(--amarelo);
    border-width: 3px;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.container{
    font-family: Lato;
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    width: 50%;
}
.container h1{
    font-family: Montserrat;
    display: flex;
    justify-content: flex-start;
}
.container .frase{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.container .frase em{
    color: var(--azul-texto1);
    display: flex;
    justify-content: flex-end;
}
.container .frase span{
    display: flex;
    justify-content: flex-end;
}
.container .logo-grande{
    width: 90%;
    height: 90%;
    flex-shrink: 0;
    align-self: flex-start;
}

.container .main{
    width: 80%;
}
.container .main-top{
    display: flex;
    flex-direction: column;
}
.container .main .main-top span{
    color: var(--azul-texto1);
    font-weight: 500;
    font-size: 14px;
}
.container .main  .main-top strong{
    border-bottom: 0.5px solid var(--amarelo);
    border-width: 3px;
    margin-bottom: 1em;
    color: var(--azul-texto1);
    font-weight: 700;
    font-size: 24px;
}
.container .main .main-right{
    display: flex;
    flex-direction: row-reverse;
    gap: 3em;
}
.container .main .main-right span{
    width: 70%;
}
/*humildade do prof*/
/*  -----------
Parte do código responsável por customizar a visualização do card
configura o card para visualizacao da imagem 
    ----------- */

.propaganda-praia{
  border-radius: .25em;
  display: block;
  color: var(--azul-geral);
  border: 1px solid;
  text-decoration: none;
  width: 300px;
  height: 300px;
}

.propaganda-praia figure{
  margin: 0;
}
.propaganda-praia figure img{
  max-width: 100%;
  transform: scale(120%);  
  margin-bottom: 0.75em;
}
.propaganda-praia figure figcaption{
  padding: 1em;
}

.propaganda-praia figure figcaption strong{
  font-size: 1.5em;
  margin-bottom: .25em;
}
/* modifica o display para display block */
.descricao{display: block;}

